In [339]:
import pandas as pd
from bs4 import BeautifulSoup
from requests import get
from pyarrow import feather
import numpy as np
from sqlalchemy import types as t
import psycopg2, csv
import pandas as pd
import re
import os

In [340]:
# Get the list of donwloaded subtitles (with R)
subs = os.listdir(r"D:\Users\witen\OneDrive\HUB\data\subtitles")
subs.pop(subs.index("temp"))
subs[0:5]

['#Lucky Number (2015).srt',
 '#Screamers (2016).srt',
 "'Neath the Arizona Skies (1934).srt",
 "'Pimpernel' Smith (1941).srt",
 "'Round Midnight (1986).srt"]

In [341]:
# Loading the movie_titles dataset (created in R)
movies = feather.read_feather("../data/movie_titles.feather")

# replacing \\N with missing
movies.loc[movies["startYear"] == "\\N", "startYear"] = pd.NA
movies["searched"] = 0
movies["downloaded"] = 0
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,main_genre,searched,downloaded
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,Romance,0,0
1,tt0000147,movie,The CorbettFitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport",Documentary,0,0
2,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama",Biography,0,0
3,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,\N,0,0
4,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama",Biography,0,0

In [342]:
# Replacing simple titles with title and year (where year is not missing)

movies["original_title_year"] = movies["originalTitle"] + " (" + movies["startYear"] + ")"
movies["primary_title_year"] = movies["primaryTitle"] + " (" + movies["startYear"] + ")"
movies.to_feather("../data/movies_db.feather")

movies[["original_title_year", "primary_title_year"]].head()

                    original_title_year                   primary_title_year
0                     Miss Jerry (1894)                    Miss Jerry (1894)
1  The Corbett-Fitzsimmons Fight (1897)  The CorbettFitzsimmons Fight (1897)
2          Soldiers of the Cross (1900)         Soldiers of the Cross (1900)
3                       Bohemios (1905)                      Bohemios (1905)
4    The Story of the Kelly Gang (1906)   The Story of the Kelly Gang (1906)

In [343]:
# Deleting extension and hashtags from subtitle names
sub_names = pd.Series(subs).str.replace("\.srt|^#", "", regex=True)
sub_names

0                                Lucky Number (2015)
1                                   Screamers (2016)
2                    'Neath the Arizona Skies (1934)
3                           'Pimpernel' Smith (1941)
4                             'Round Midnight (1986)
                            ...
9552                                    Zotz! (1962)
9553                                Zulu Dawn (1979)
9554           ¡A todo tren! Destino Asturias (2021)
9555    Ánimas Trujano (El hombre importante) (1961)
9556                                 Æon Flux (2005)
Length: 9557, dtype: object

In [344]:
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,main_genre,searched,downloaded,original_title_year,primary_title_year
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,Romance,0,0,Miss Jerry (1894),Miss Jerry (1894)
1,tt0000147,movie,The CorbettFitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport",Documentary,0,0,The Corbett-Fitzsimmons Fight (1897),The CorbettFitzsimmons Fight (1897)
2,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama",Biography,0,0,Soldiers of the Cross (1900),Soldiers of the Cross (1900)
3,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,\N,0,0,Bohemios (1905),Bohemios (1905)
4,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama",Biography,0,0,The Story of the Kelly Gang (1906),The Story of the Kelly Gang (1906)

In [345]:
# Downloaded subtitles that are present in dataset
found_subs = sub_names[sub_names.isin(movies["primary_title_year"]) |
                        sub_names.isin(movies["original_title_year"])]
found_subs

0                                Lucky Number (2015)
1                                   Screamers (2016)
2                    'Neath the Arizona Skies (1934)
3                           'Pimpernel' Smith (1941)
4                             'Round Midnight (1986)
                            ...
9551                          Zorba the Greek (1964)
9552                                    Zotz! (1962)
9553                                Zulu Dawn (1979)
9555    Ánimas Trujano (El hombre importante) (1961)
9556                                 Æon Flux (2005)
Length: 7670, dtype: object

In [346]:
movies.loc[movies["primary_title_year"].isin(found_subs) |
            movies["original_title_year"].isin(found_subs), ["searched", "downloaded"]] = 1
movies["downloaded"].sum(), movies["searched"].sum()

(7741, 7741)

In [347]:
movies.to_feather("../data/movies_db.feather")

In [348]:
df = pd.read_feather("../data/movies_db.feather")
df = df.loc[df["original_title_year"].drop_duplicates().dropna().index, :]
df["startYear"] = df["startYear"].astype(float)

In [349]:
%reload_ext sql
con = "postgresql://postgres:753159@localhost:5432/postgres"
%sql postgresql://postgres:753159@localhost:5432/postgres

In [350]:
cols = ["tconst", "primary_title_year", "original_title_year", "startYear", "searched", "downloaded"]
df[cols]

,tconst,primary_title_year,original_title_year,startYear,searched,downloaded
0,tt0000009,Miss Jerry (1894),Miss Jerry (1894),1894.0,0,0
1,tt0000147,The CorbettFitzsimmons Fight (1897),The Corbett-Fitzsimmons Fight (1897),1897.0,0,0
2,tt0000335,Soldiers of the Cross (1900),Soldiers of the Cross (1900),1900.0,0,0
3,tt0000502,Bohemios (1905),Bohemios (1905),1905.0,0,0
4,tt0000574,The Story of the Kelly Gang (1906),The Story of the Kelly Gang (1906),1906.0,0,0
...,...,...,...,...,...,...
536025,tt9813978,Exodus (2018),Exodus (2018),2018.0,0,0
536027,tt9847570,Double Date (2019),Double Date (2019),2019.0,0,0
536028,tt9857850,A Guide to Gunfighters of the Wild West (2021),A Guide to Gunfighters of the Wild West (2021),2021.0,1,1
536030,tt9875554,Alaska (2019),Alaska (2019),2019.0,0,0
536031,tt9889814,Kiss Kiss Bang Bang (2017),Kiss Kiss Bang Bang (2017),2017.0,0,0

In [351]:
df.loc[df["startYear"] < 2022, cols].to_sql("search", con, "movies", if_exists="replace", dtype={"startYear": t.INT})

677

In [352]:
%%sql
select *
from movies.search
order by "startYear" desc
limit 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[(227639, 'tt10101702', 'Untitled My Little Pony Movie (2021)', 'Untitled My Little Pony Movie (2021)', 2021, 0, 0),
 (229441, 'tt10172268', 'Tomb Raider 2 (2021)', 'Tomb Raider 2 (2021)', 2021, 0, 0),
 (225737, 'tt10020858', 'The Badge the Gun  the Hangmans Noose (2021)', "The Badge, the Gun & the Hangman's Noose (2021)", 2021, 0, 0),
 (227473, 'tt10095624', 'Untitled Elvis Presley Project (2021)', 'Untitled Elvis Presley Project (2021)', 2021, 0, 0),
 (228200, 'tt10126338', 'Brand X The Desert Years (2021)', 'Brand X: The Desert Years (2021)', 2021, 0, 0),
 (229013, 'tt10155932', 'Cinderella (2021)', 'Cinderella (2021)', 2021, 0, 0),
 (159205, 'tt0293429', 'Mortal Kombat (2021)', 'Mortal Kombat (2021)', 2021, 0, 0),
 (198578, 'tt0427340', 'Masters of the Universe (2021)', 'Masters of the Universe (2021)', 2021, 0, 0),
 (226785, 'tt10069208', 'Scarlet (2021)', 'Scarlet (2021)', 2021, 0, 0),
 (230849, 'tt10228260', 'Dirty Laundry (2021)', 'Dirty Laundry (2021)', 2021, 0, 0)]

In [353]:
res = %sql select * from movies.search
res.DataFrame().to_feather("../data/search_db.feather")

 * postgresql://postgres:***@localhost:5432/postgres
472677 rows affected.

In [354]:
from sqlalchemy import create_engine
from sqlalchemy import text
engine = create_engine("postgresql://postgres:753159@localhost:5432/postgres")
res = engine.execute(text("select searched, primary_title_year from movies.search where downloaded = 1 limit 5 "))
for r in res:
    print(r)

(1, 'Sumurun (1920)')
(1, 'Kino Eye (1924)')
(1, 'Battleship Potemkin (1925)')
(1, 'The Living Dead Man (1926)')
(1, 'The Gold Rush (1925)')

In [355]:
%%sql
select original_title_year, primary_title_year
from movies.search
where searched = 0 and "startYear" < 2021
order by "startYear" desc
limit 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Mon cousin (2020)', 'Mon cousin (2020)'),
 ('Frightmares (2020)', 'Frightmares (2020)'),
 ('The Witches (2020)', 'The Witches (2020)'),
 ('Villa Caprice (2020)', 'Villa Caprice (2020)'),
 ('The Humans (2020)', 'The Humans (2020)'),
 ('Laal Singh Chaddha (2020)', 'Laal Singh Chaddha (2020)'),
 ('Without Remorse (2020)', 'Without Remorse (2020)'),
 ('The Last Full Measure (2020)', 'The Last Full Measure (2020)'),
 ('Jungle Cruise (2020)', 'Jungle Cruise (2020)'),
 ('Bhuj: The Pride of India (2020)', 'Bhuj The Pride of India (2020)')]

In [356]:
%%sql
select * from movies.search
where "original_title_year" = 'La Nuée (2020)'

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(242136, 'tt10675724', 'La Nuée (2020)', 'La Nuée (2020)', 2020, 0, 0)]

In [359]:
%%sql
select * from movies.search
where "original_title_year" != "primary_title_year"
and "startYear" = 2019
order by "startYear" desc
limit 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[(226488, 'tt10050612', 'Bigfoots Lament (2019)', "Bigfoot's Lament (2019)", 2019, 0, 0),
 (226494, 'tt10050766', 'Brené Brown The Call to Courage (2019)', 'Brené Brown: The Call to Courage (2019)', 2019, 0, 0),
 (226511, 'tt10052290', 'Faustina Love and Mercy (2019)', 'Milosc i milosierdzie (2019)', 2019, 0, 0),
 (226517, 'tt10052928', 'Black Fox Age of the Ninja (2019)', 'Black Fox: Age of the Ninja (2019)', 2019, 0, 0),
 (226534, 'tt10054536', 'Shivas Daughter (2019)', "Shiva's Daughter (2019)", 2019, 0, 0),
 (226559, 'tt10055618', 'Tunguska Butterfly (2019)', 'Tsungûsuka batafurai: Saki to Mari no monogatari (2019)', 2019, 0, 0),
 (226563, 'tt10055770', 'Vellai Pookal (2019)', 'Vellaipookal (2019)', 2019, 0, 0),
 (226606, 'tt10059220', 'Blood of God (2019)', 'Khoon-e Khoda (2019)', 2019, 0, 0),
 (226607, 'tt10059236', 'My Second Year in College (2019)', 'Sale dovom daneshkadeh man (2019)', 2019, 0, 0),
 (226612, 'tt10059438', 'Trust Me Im Sick (2019)', "Trust Me, I'm Sick (2019)", 2019, 0, 0)]

In [358]:
%%sql
select * from movies.search
where "original_title_year" = ''
or "primary_title_year" = ''
and "startYear" = 2019
order by "startYear" desc
limit 10

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.

[]