In [33]:
import pandas as pd
from bs4 import BeautifulSoup
from requests import get
from pyarrow import feather
import numpy as np
from sqlalchemy import types as t
import psycopg2, csv
import pandas as pd
import re
import os

In [10]:
# Get the list of donwloaded subtitles (with R)
subs = os.listdir(r"D:\Users\witen\OneDrive\HUB\movie_analysis\data\subtitles")
subs.pop(subs.index("temp"))
subs[0:5]

['#Lucky Number (2015).srt',
 '#Screamers (2016).srt',
 "'Neath the Arizona Skies (1934).srt",
 "'Pimpernel' Smith (1941).srt",
 "'Round Midnight (1986).srt"]

In [13]:
# Loading the movie_titles dataset (created in R)
movies = feather.read_feather("data/movie_titles.feather")

# replacing \\N with missing
movies.loc[movies["startYear"] == "\\N", "startYear"] = pd.NA
movies["searched"] = 0
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,main_genre,searched
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,Romance,0
1,tt0000147,movie,The CorbettFitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport",Documentary,0
2,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama",Biography,0
3,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,\N,0
4,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama",Biography,0

In [14]:
# Replacing simple titles with title and year (where year is not missing)
movies["title_year"] = movies["primaryTitle"]
movies.loc[~movies["startYear"].isna(), "title_year"] = \
            movies["primaryTitle"] + " (" + movies["startYear"] + ")"
movies["title_year"]

0                           Miss Jerry (1894)
1         The CorbettFitzsimmons Fight (1897)
2                Soldiers of the Cross (1900)
3                             Bohemios (1905)
4          The Story of the Kelly Gang (1906)
                         ...
536029                               Stardust
536030                          Alaska (2019)
536031             Kiss Kiss Bang Bang (2017)
536032                               La ronde
536033                          Meet John Doe
Name: title_year, Length: 536034, dtype: object

In [15]:
# Leading hashtags are missing in movies dataset
print(subs[1])
movies["title_year"][movies["title_year"].str.contains("Screamers (2016)", regex=False)]

#Screamers (2016).srt

430759    Screamers (2016)
Name: title_year, dtype: object

In [16]:
# Deleting extension and hashtags from subtitle names
sub_names = pd.Series(subs).str.replace("\.srt|^#", "", regex=True)
sub_names

0                                Lucky Number (2015)
1                                   Screamers (2016)
2                    'Neath the Arizona Skies (1934)
3                           'Pimpernel' Smith (1941)
4                             'Round Midnight (1986)
                            ...
9497                                    Zotz! (1962)
9498                                Zulu Dawn (1979)
9499           ¡A todo tren! Destino Asturias (2021)
9500    Ánimas Trujano (El hombre importante) (1961)
9501                                 Æon Flux (2005)
Length: 9502, dtype: object

In [17]:
# Downloaded subtitles that are present in dataset
found_subs = sub_names[sub_names.isin(movies["title_year"])]
found_subs

0                     Lucky Number (2015)
1                        Screamers (2016)
6                   10 Cent Pistol (2014)
8              10 Rillington Place (1971)
9       10 Things I Hate About You (1999)
                      ...
9492      Zindagi Na Milegi Dobara (2011)
9495         Zombie with a Shotgun (2019)
9496               Zorba the Greek (1964)
9498                     Zulu Dawn (1979)
9501                      Æon Flux (2005)
Length: 7038, dtype: object

In [18]:
movies.loc[movies["title_year"].isin(found_subs), "searched"] = 1
movies["searched"].sum()

7105

In [32]:
df = pd.read_feather("data/movies_db.feather")
df = df.loc[df["original_title_year"].drop_duplicates().index, :]

In [37]:
%load_ext sql
con = "postgresql://postgres:***@localhost:5432/postgres"
%sql postgresql://postgres:753159@localhost:5432/postgres

In [66]:
cols = ["tconst", "primary_title_year", "original_title_year", "downloaded", "searched"]
df[cols].to_sql("search", con, "movies", if_exists="replace")

443

In [70]:
%%sql
select searched, primary_title_year
from movies.search
where primary_title_year = 'Notturno (1949)'

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(1, 'Notturno (1949)')]

In [69]:
%%sql
update movies.search
set searched = 1
where primary_title_year = 'Notturno (1949)'

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[]

In [12]:
from sqlalchemy import create_engine
from sqlalchemy import text
engine = create_engine("postgresql://postgres:****@localhost:5432/postgres")
res = engine.execute(text("select searched, primary_title_year from movies.search where primary_title_year = 'Notturno (1949)' "))
for r in res:
    print(r)

(0, 'Notturno (1949)')